<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="logs\nlog-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>

        <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

        <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
        <target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${logger}|${message}" />
        <target name="info" xsi:type="File" fileName="${logDirectory}/${logger}.txt"
                layout="${longdate}|PID=${processid}/TID=${threadid}|${level}|${all-event-properties}|${message}"
                encoding="utf-8" />
        <target name="error" xsi:type="File" fileName="${logDirectory}/${logger}_error.txt"
                layout="${longdate}|PID=${processid}/TID=${threadid}|${level}|${callsite}:${callsite-linenumber}|${all-event-properties}|${message}|${exception:format=toString,Data}|${stacktrace}"
                encoding="utf-8" />
        <!--    <target xsi:type="Mail" deliveryMethod="Network" name="mailNotify"
                body="" encoding="UTF-8" from="" header="" html="true" footer="" layout=""
                smtpPassword="" subject="" smtpPort="22" smtpServer="" smtpUserName=""
                smtpAuthentication="Basic" priority="high" to="" useSystemNetMailSettings="false" />-->
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!-- add your logging rules here -->

        <!--
            Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
            <logger name="*" minlevel="Debug" writeTo="f" />
        -->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Trace" writeTo="console,info" />
        <logger name="*" minlevel="Error" writeTo="error" />
    </rules>
</nlog>